body {
  background-image: url(background.png);
  background-repeat: no-repeat; /* Desabilita a repetição da imagem */
  /*background-position: 100% 10%;  Uma das formas de posicionar */
  background-position: center center;
  background-size: cover; /* Faz com que a imagem preencha a tela sem se repetir */
  background-attachment: fixed; /* Faz com que a imagem não se mova ao dar scroll na página */
}

p {
  color: #222222;
}
