body {
    background-color: #dfdfdf;
    font-family: 'Raleway', sans-serif; /* Define uma fonte padão para os textos da página */
    color: #222222;
    margin: 0;
}

.container {
    width: 900px;
    margin: 0 auto;
}

.profile {
    text-align: center;
    margin-bottom: 40px;
}

#fotoPrincipal {
    width: 200px;
    border: 2px solid #FFFFFF;    /* shorthand - simplifica o código */
    border-radius: 50%; /* border-radius também aceita 4 valores referentes as bordas, permitindo criar vários formatos de borda */

/*  border-width: 5px;
    border-style: solid;
    border-color: black;    */

    margin-top: 30px;
    margin-bottom: 0;
    box-shadow: 0px 0px 10px rgb(112, 112, 112);
}

h1 {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 35px;
    margin-bottom: 0;
    margin-top: 10px;
    font-weight: 100;
    letter-spacing: -1px;
}

h2 {
    margin-top: 0;
    font-style: italic;
    font-size: 20px;
    color: #4a4a4a;
    letter-spacing: -1px;
    font-weight: 100;
}

h4 {
    margin-bottom: 0px;
}

h5 {
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 100;
    font-style: italic;
    font-size: 14px;
}

p {
    line-height: 25px;
    margin-top: 0;
}

ul {
    list-style: none;
    padding-left: 20px;
}

.social-icons {
    width: 20px;
}

.social-links {
    text-decoration: none;
}

.github {
    margin: 0 10px 0 10px;
}

.footer {
    background-color: black;
    margin-top: 40px;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 13px;

}

.desc {
    padding-left: 93px;
    
}