body {
    background-color: #dfdfdf;
}

p {
    color: #222222;
}

#fotoPrincipal {
    width: 200px;
    border: 2px solid #FFFFFF;    /* shorthand - simplifica o código */
    border-radius: 50%; /* border-radius também aceita 4 valores referentes as bordas, permitindo criar vários formatos de borda */

/*  border-width: 5px;
    border-style: solid;
    border-color: black;    */
}